body {
  margin: 1rem 0 0 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid white;
  padding: 10px;
}

header, footer {
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

nav {
  background-color: rgb(177, 177, 121);
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.nav-box {
  float: right;
  width: 15%; 
  margin-left: 3%;
  background-color: rgb(235, 242, 206);
  padding: 15px;
  border-radius: 5px;
}


main {
  overflow: hidden;
}

article {
  float: left;
  width: 58%;
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
}

.article-box {
  background-color: black;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
}

aside {
  float: right;
  width: 38%;
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
}

.aside-box {
  background-color: black;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
}

footer {
  background-color: orange;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
